import './../../assets/scss/colors.storybook.scss';
import './../../../node_modules/@picocss/pico/css/pico.colors.css';

export default {
  title: '{{ category }}/{{ folder }}/{{ component }}',
  parameters: {
    layout: 'padded',
    docs: { page: null }
  },
  render: () => {
    const obj = {
      {% for title,color in colors %}
        "{{ title|capitalize }}": [
            {% for key,value in color.colors|ksort %}
            "{{ key }}",
            {% endfor %}
        ],
      {% endfor %}
    };
    let str = '<section class="color-families">';

    for (const colorKey in obj) {
      if (obj.hasOwnProperty(colorKey)) {
        str += `<article class="family"><header class="pico-background-${colorKey.toLowerCase()}">${colorKey}</header><main>`;
        for (const colorValue in obj[colorKey]) {
          if (obj[colorKey].hasOwnProperty(colorValue)) {
            str += `<button class="secondary pico-background-${obj[colorKey][colorValue]}">${obj[colorKey][colorValue].includes("-") ? obj[colorKey][colorValue].split('-')[1] : obj[colorKey][colorValue]}</button>`;
          }
        }
        str += `</main></article>`;
      }
    }
    return str + '</section>';
  }
};

export const Default = {};
